
{% for host in play_hosts %}
{{ host }}{{'\t'}}ansible_host={{ hostvars[host]['vm_ip_address'] }}{{'\t'}}ip={{ hostvars[host]['vm_ip_address'] }}
{% endfor %}

[kube-master]
{% for host in groups['kube-master'] %}
{{ host }}
{% endfor %}

[etcd]
{% for host in groups['etcd'] %}
{{ host }}
{% endfor %}

[vault]
{% for host in groups['etcd'] %}
{{ host }}
{% endfor %}

[kube-node]
{% for host in groups['kube-node'] %}
{{ host }}
{% endfor %}

[k8s-cluster:children]
kube-node
kube-master
etcd
vault
